# L3G4200D gyroscope sensor configuration
# options

# Copyright (c) 2017 Linaro Limited
# SPDX-License-Identifier: Apache-2.0

menuconfig L3G4200D
	bool "L3G4200D I2C/SPI gyroscope Chip"
	depends on I2C || SPI
	help
	  Enable driver for L3G4200D gyroscope sensor.

if L3G4200D

choice L3G4200D_TRIGGER_MODE
	prompt "Trigger mode"
	help
	  Specify the type of triggering to be used by the driver.

config L3G4200D_TRIGGER_NONE
	bool "No trigger"

config L3G4200D_TRIGGER_GLOBAL_THREAD
	bool "Use global thread"
	depends on GPIO
	select L3G4200D_TRIGGER

config L3G4200D_TRIGGER_OWN_THREAD
	bool "Use own thread"
	depends on GPIO
	select L3G4200D_TRIGGER

endchoice

config L3G4200D_TRIGGER
	bool

config L3G4200D_THREAD_PRIORITY
	int "Thread priority"
	depends on L3G4200D_TRIGGER_OWN_THREAD
	default 10
	help
	  Priority of thread used by the driver to handle interrupts.

config L3G4200D_THREAD_STACK_SIZE
	int "Thread stack size"
	depends on L3G4200D_TRIGGER_OWN_THREAD
	default 1024
	help
	  Stack size of thread used by the driver to handle interrupts.

menu "Attributes"

config L3G4200D_GYRO_FS
	int "Gyroscope full-scale range"
	default 250
	help
	  Specify the default gyroscope full-scale range.
	  An X value for the config represents a range of +/- X degree per
	  second. Valid values are 250, 500, 2000

config L3G4200D_GYRO_ODR
	int "Gyroscope Output data rate frequency"
	range 0 10
	default 0
	help
	  Specify the default accelerometer output data rate expressed in
	  samples per second (Hz).
	  0: ODR selected at runtime
	  1: 12.5Hz
	  2: 26Hz
	  3: 52Hz
	  4: 104Hz
	  5: 208Hz
	  6: 416Hz
	  7: 833Hz
	  8: 1660Hz
	  9: 3330Hz
	  10: 6660Hz
endmenu

endif # L3G4200D
